/*add button */
.add-btn {
    width: 300px;
    background: #04086B;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    float: right;
    margin-right: 50px;
}

.add-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}


/*view button*/
.viewBtn {
    border: 0.25px solid rgb(11, 103, 223);
    border-radius: 4px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 2px 6px 2px 6px;
    background: #209af8;
}

.viewBtn:hover {
    border: 0.25px solid black;
    color: black;
    background: rgb(0, 200, 255);
    cursor: pointer;
}

/* update button */
.updateBtn {
    border: 0.25px solid rgb(60, 255, 0);
    border-radius: 4px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 2px 6px 2px 6px;
    background: #28c728;
}

.updateBtn:hover {
    border: 0.25px solid black;
    color: black;
    background: #12fc0a;
    cursor: pointer;
}


/*delete button*/

.deleteBtn {
    border: 0.25px solid white;
    border-radius: 4px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 2px 6.5px 2px 6.5px;
    background: rgb(250, 10, 10);
}

.deleteBtn:hover {
    border: 0.25px solid black;
    color: #353935;
    background: red;
    cursor: pointer;
}


/*submit button*/
.submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 73vw;
    background: #04086B;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.submitBtn:hover {
    /* background-position: right; */
    background-color: #00BFFF;
    color: white;
}

.refreshBtn {
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    margin: 1rem ;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #580a50;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: 0.5s;
}

.refreshBtn:hover {
    background-color: #00BFFF;
    color: white;
}
