.form-container {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(245, 244, 240);
    box-shadow: 0 4px 8px 0 black;
    width: 80%;
}

.form-input-title {
    margin-top: 10px;
}

.form-invalid {
    color: red;
    margin-bottom: 10px;
}

input[type=text],
input[type=date],
input[type=password],
input[type=number] {
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 97%;
    height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: 25px;
    font-size: 15px;
    outline: none;
    display: block;
}

.form-container select {
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 97%;
    height: 28px;
    margin-right: 25px;
    font-size: 15px;
    outline: none;
    display: block;
}

.form-container input[type=text]:focus,
input[type=date]:focus,
input[type=text]:focus {
    border: 1.5px solid #00BFFF;
}



/*make it responsive design*/

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -275px;
    }
    .navigation.active {
        width: 275px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 275px;
    }
}