.tab, .tabmilk {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: transparent;
}

.tab button, .tabmilk button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover, .tabmilk button:hover {
    background-color: #1bc8d1;
    color: black;
}

.tab button.active, .tabmilk button.active {
    background-color: #040aaa;
    color: white;
}

.tabcontent, .tabcontentmilk {
    display: none;
}

.tabcontent.active, .tabcontentmilk.active {
    display: block;
}