.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #1bc8d1;
    color: black;
}

.tab button.active {
    background-color: #040aaa;
    color: white;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}