h1 {
    text-align: center;
    margin: 40px auto -20px auto;
    /* color: whitesmoke; */
}

section {
    position: absolute;
    top: 44px;
    left: 0;
    height: 94%;
    width: 100%;
    background: url(http://localhost/koratuwa/img/mco/mco_supplierImage.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(30%);
}

.container {
    opacity: 0.85;
}

.search-box
{
   background: transparent;
   margin-top: 8%; 
   margin-right: 20%;
   margin-left: 20%;
   margin-bottom: 10px;
}
.table-wrapper1{
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    min-width: 65%;
    margin-top: 22px;
    
    margin: 15px;
    /* padding-bottom: 20px; */
}


.detailsTable{
    margin: 5%;
}