.new{
    margin: 500px auto 150px 500px;
}

/* tabs styles */

body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    /* margin: 50px auto; */
    /* padding: 25px; */
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.filter label {
    padding: 25px;
    background: none;
    font-weight: bold;
}
.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/* button styles */

.status.collected {
    padding: 2px 4px;
    background: #8de02c;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.rejected {
    padding: 2px 4px;
    background: #f00;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.pendingBtn {
    border: 0.25px solid rgb(60, 255, 0);
    border-radius: 7px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 4px 8px 4px 8px;
    background: #28c728;
    font-size: 18px;
}

.pendingBtn:hover {
    border: 0.25px solid black;
    color: black;
    background: #12fc0a;
    cursor: pointer;
}


/* updated table styles */
/* 
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr:nth-child(1) {
    background-color: #04AA6D;
}

table tr:hover {

    background-color: lightcyan;
} */


/* table tr:nth-child(odd):hover {
    background-color: #f2f2f2;
} */

/* table tr:nth-child(1):hover {
    background-color: #04AA6D;
}

table {
    margin: 40px auto 100px auto;
} */


/* titles */

.title1,
.title2 {
    /* background-color: lightskyblue; */
    text-align: center;
    border: 1px solid blue;
}

.title1 h1 {
    background-color: powderblue;
    z-index: 9;
    color: black;
}

.title2 {
    background-color: powderblue;
    /* background-color: #04086B; */
    color: black;
}

section {
    /* position: absolute; */
    /* top: 11.5vh;
    left: 0; */
    margin-top: 0px;
    height: 36%;
    width: 100%;
    /* background: url(http://localhost/koratuwa/img/mco/milk.jpg); */
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(60%);
}


/*  */

.ongoingOrders {
    /* background-color: rgb(86, 86, 86); */
    /* border: 1px solid powderblue; */
    margin: 0px auto 0px auto;
    /* background-color: powderblue; */
    /* padding: 100px auto 50px auto; */
}


/*  */

.pastOrders {
    /* border: 1px solid gold; */
    margin: 0px auto 0px auto;
    /* background-color: rgb(86, 86, 86); */
}


/* divider */

/* .divider { */
    /* background-color: green; */
    /* height: 10vh; */
/* } */


/* popup window styles */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    /* border: 1px solid red; */
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    border: 1px solid red;
}

.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
    background-color: blue;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    min-height: 100%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}

.btn {
    display: flex;
    flex-direction: justify-content;
    margin: 20px 20px 20px 20px;
}

.acceptBtn {
    border: 0.25px solid rgb(60, 255, 0);
    border-radius: 7px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 4px 8px 4px 8px;
    background: #28c728;
    font-size: 18px;
}

.acceptBtn:hover {
    /* background-position: right; */
    background-color: #00BFFF;
    color: white;
}

.dltBtn {
    border: 0.25px solid red;
    border-radius: 7px;
    box-shadow: 0px 2px 3px #666666;
    color: white;
    padding: 4px 8px 4px 8px;
    background: red;
    font-size: 18px;
}

.dltBtn:hover {
    /* background-position: right; */
    background-color: #00BFFF;
    color: white;
}



/* view model */
.model {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 1050;
    visibility: hidden;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-model {
    visibility: visible;
    display: flex;
}

.open-model .model {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.model.in .model-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.model-dialog {
    position: relative;
    max-height: 80vh;
}

/* .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
} */

.model-content {
    border-radius: 0;
    position: relative;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    /* -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%); */
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.model-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: #f4f4f4;
}

.model-body {
    position: relative;
    padding: 15px;
}

.tableForm {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    min-height: .01%;
    overflow-x: auto;
    width: 90%;
    max-width: 80%;
    margin-bottom: 50px;
}

.modal-footer {
    border-top-color: #f4f4f4;
    padding: 15px;
    text-align: right;
    /* border-top: 1px solid #e5e5e5; */
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #e21d1d;
    filter: alpha(opacity=20);
    opacity: .2;
}
.model-title {
    margin: 0;
    line-height: 1;
}

h {
    display: block;
    font-weight: bold;
    font-weight: 500px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.model-body i {
    color: red;
    padding: 5px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collected {
    padding: 5px 8px;
    background: #8de02c;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.collected:hover {
    background: #1d8a1d;
}

.rejected {
    padding: 5px 8px;
    background: #f00;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.rejected:hover {
    background: #b50202;
}

table {
    margin-left: 50px;
}
td {
    text-align: center;
}


/* -----------------end view model------------------------ */



/* search */

/* .search-box
{
   margin-right: 20%;
   margin-left: 20%;
}
 */
 .table-wrapper{
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
}