.popup{
      background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    padding: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(245, 244, 240);
    box-shadow: 0 4px 8px 0 black;
    width: 60%;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
select {
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 95%;
    height: 30 px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: 30px;
    font-size: 15px;
    outline: none;
    display: block;
}
/*

*/