

h2{
    margin-left: 40%;
    margin-top: 0px;
    position: absolute;
    font-size: 2rem;
    color:#444;
 
    text-transform: uppercase;
    text-align: center;
    
  
}

table {
    /* position: absolute;
    top: 150px;
    left: 60px; */
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    /* background-color: #3498db; */
    padding: 20px;
    border-collapse: collapse;
    text-align: center;
    /*z-index: 0;*/
}

table td,
#orders th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
} 

table tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(232, 232, 167);
    color: black;
} 