* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0px 20px 0 20px;
    max-width: 1400px;
  }
  
  section {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
  }
  
  .cartList {
    padding-top: 10vh;
    background-color: #F5F5F5;
  }
  
  .feature1 {
    margin: 5%;
    display: flex;
  }
  
  .itemDetails {
    display: flex;
    width: 60%;
    max-height: 20vh;
    align-items: center;
    margin: 3vh auto 3vh auto;
    background-color: #2d2d2d;
    color: #fff;
    border: 3px solid blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  
  .productDetails {
    margin-left: 1%;
    position: relative;
    display: block;
    flex: 1;
    text-align: left;
  }
  h3 {
    display: inline-block;
    margin: 0;
  }
  .clear-button {
    position:relative;
    margin-top: 4vh;
    margin-left: 8vh;
    height: 5vh;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .clear-button:hover {
    background-color: #333;
    color: #fff;
  }

  .subtotal {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2d2d2d;
    /* text-align: right; */
    margin-top: 20px;
  }
  
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .itemDetails {
      width: 80%;
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .itemDetails {
      width: 90%;
      font-size: 12px;
    }
  }
/*---buy now button---*/
.buynowBtn {
  display: inline-block;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.buynowBtn:hover {
  background-color: #fff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
}

  