/* CSS LIBRARY */


/* COMPONENTS */

@import url('buttons.css');
@import url('forms.css');
@import url('tables.css');
@import url('cus_dashboard.css');

/* @import url('../dashboard_styles.css'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* FONTS */

@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

.msg-flash{
    display: block;
    background-color: rgb(255, 251, 232);
    color: rgb(82, 67, 0);
    padding: 20px 0;
    border: 1px solid rgb(158, 132, 0);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  
  }