.table-wrapper{
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
}
table {
    left: 60px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: #3498db;
    padding: 20px;
    margin-bottom: 40px;
}

table td,
#orders th {
    border: 1px solid #ddd;
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -275px;
    }
    .navigation.active {
        width: 275px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 275px;
    }
}


/* search */

.search-container
{
   margin-right: 20%;
   margin-left: 20%;
}




  /* for date filters */
  .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    align-items: center;
} 

  .filterBtn{
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #3498db;
    background-color: transparent;
    cursor: pointer;
 }
