.container{
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.container1{
    /* border: 1px solid red; */
    width: 70%;
    height:auto;
    /* background: yellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

.container2{
    /* border: 1px solid black; */
    width: 30%;
    height:auto;
    /* background: greenyellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

.tot{
    /* background-color: aqua; */
    height: 20%;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;

}
.tot span{
    height: 20%;
    width: 80%;
    color: red;
    margin-top: 25px;
    margin-left: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: larger;
    padding-top: 25px;
    font-size: x-large;
    align-items: center;
}

@media screen and (max-width:1200px) {
    .container1{
        width: 70%;
    }
    .container2{
        width: 30%;
    }   
}

@media screen and (max-width:900px) {
    .container1{
        width: 80%;
    }
    .container2{
        width: 20%;
    }
}

  /* for date filters */
  /* .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    align-items: center;
} 

  .filterBtn{
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #3498db;
    background-color: transparent;
    cursor: pointer;
 } */

 .search-container
 {
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
 }
 

 .table-wrapper{
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
 }
