.container{
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.divContainer1{
    /* border: 1px solid red; */
    width: 60%;
    height:auto;
    /* background: yellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}


.divContainer2{
    /* border: 1px solid black; */
    width: 40%;
    height:auto;
    /* background: greenyellow; */
    margin: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    /* font-size: 50px; */
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    
    /* margin-top: 22px; */
    
    /* margin: 15px; */
    /* padding-bottom: 20px; */
}

@media screen and (max-width:1200px) {
    .divContainer1{
        width: 50%;
    }
    .divContainer2{
        width: 50%;
    }  
    .divContainer3{
        width: 50%;
    }  
}

@media screen and (max-width:900px) {
    .divContainer1{
        width: 100%;
    }
    .divContainer2{
        width: 100%;
    }
    .divContainer3{
        width: 100%;
    } 
}


/* show or hide */
.divContainer2 > .tableElement{
    /* border: 2px solid black; */
    color: blue;
    font-weight: bold;
    margin: 4px;
    padding: 20px;
    width: 100%;
    /* background:yellow; */
}
.part1{
    display: block;
    /* border: 2px solid goldenrod; */
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 20px;
    width: 100%;
    /* background: #e21d1d; */
}
.part2{
    display: none;
}


/* view model */
.model {
    /* position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0; */
    z-index: 1050;
    visibility: hidden;
    overflow: hidden;
    outline: 0;
    /* background: rgba(0, 0, 0, 0.3); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-model {
    visibility: visible;
    display: flex;
}

.open-model .model {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.model.in .model-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.model-dialog {
    position: relative;
    max-height: 80vh;
}

/* .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
} */

.model-content {
    border-radius: 0;
    position: relative;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    /* -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%); */
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.model-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: #f4f4f4;
}

.model-body {
    position: relative;
    padding: 15px;
}

.tableForm {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    min-height: .01%;
    overflow-x: auto;
    width: 90%;
    max-width: 80%;
    margin-bottom: 50px;
}

.modal-footer {
    border-top-color: #f4f4f4;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #e21d1d;
    filter: alpha(opacity=20);
    opacity: .2;
}
.model-title {
    margin: 0;
    line-height: 1;
}

h4 {
    display: block;
    font-weight: bold;
    font-weight: 500px;
}

.edit-color {
    color: #04086B;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

i {
    font-style: italic;
}

#supTable {
    border: 1px solid red;
    width: 90%;
    /* margin-left: 10px;
    margin-right: 70px; */
}
td {
    text-align: center;
}


/* -----------------end view model------------------------ */

/* feedback */

.feedback{
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.full-boxer{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    /* border: 1px solid blue; */
    width: 500px;
    background:white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.profile-box{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.profile-img{
    /* border: 1px solid yellow; */
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-img img{
    /* border: 1px solid brown; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center ;
}

.name{
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.name strong{
    color:black;
    font-size:16px ;
    /* font-size: 18px; */
}

.name span{
    font-size:14px ;
    color: #5e5959;
    margin-top: 2px;
}

.comment p{
    color: black;

}

h2{
    text-transform: uppercase;
    margin: 10px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .search-box {
    width: 100%;
    margin: 8px;
  }

  #searchInput3{
    margin-left: 0px;
  }

  .search-icon button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
    padding: 1%;
    background-color: #fff;
    margin: 5px;
    border-style: hidden;

}