/* * {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}
h1 {
    color: coral;
    font-weight: bold;
    
    background: transparent;
    padding: 7px;
    
}


.outer-wrapper {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;

    
} */
.table-wrapper {

    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
    
}


table {
    
    min-width: max-content;
    
    border-collapse: separate;
    border-spacing: 0px;    
    
}


.table-filter {
    border-radius: 5px;
}

table th{
    position: sticky; 
    top: 0px;
    
    background-color: #1a1163;
    color: rgb(241, 245, 179);
    
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    outline: 0.7px solid black;
    border: 1.5px solid black;

} 



table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: left;
    
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    
}
/* show or hide */
#dltTableElement{
    /* border: 2px solid black; */
    /* background-color: gray; */
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 20px;
    width: 30%;
    display: none;
}

#dltTableElement #dltCowTable{
    margin: 20px;
}

/* view model */
.model {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 1050;
    visibility: hidden;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-model {
    visibility: visible;
    display: flex;
}

.open-model .model {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.model.in .model-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.model-dialog {
    position: relative;
    max-height: 80vh;
}

/* .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
} */

.model-content {
    border-radius: 0;
    position: relative;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    /* -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%); */
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.model-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-color: #f4f4f4;
}

.model-body {
    position: relative;
    padding: 15px;
}

.tableForm {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    min-height: .01%;
    overflow-x: auto;
    width: 90%;
    max-width: 80%;
    margin-bottom: 50px;
}

.modal-footer {
    border-top-color: #f4f4f4;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #e21d1d;
    filter: alpha(opacity=20);
    opacity: .2;
}
.model-title {
    margin: 0;
    line-height: 1;
}

h4 {
    display: block;
    font-weight: bold;
    font-weight: 500px;
}

.edit-color {
    color: #04086B;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

i {
    font-style: italic;
}

table {
    margin-left: 50px;
}
td {
    text-align: center;
}

/* -----------------end view model------------------------ */


/*-------------------- notification styles----------------- */

.notifyBox{
    position: fixed;
    top: 3rem;
    right: 1rem;
    background-color:#287bff;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    display: none;
    
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    border: 1px solid blue;
    width: 500px;
    background:white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
}

.name{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.name strong{
    color:black;
    font-size:16px ;
    /* font-size: 18px; */
}

.name span{
    font-size:14px ;
    color: #5e5959;
    margin-top: 2px;
}

.comment p{
    color: black;

}
/* -----------------end notifications ------------------------ */



.divContainer{
    border: 1px solid blue;
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.divContainer1{
    border: 1px solid red;
    width: 40%;
    height:auto;
    /* background: yellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

.divContainer2{
    border: 1px solid black;
    width: 60%;
    height:auto;
    /* background: greenyellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    
    /* margin-top: 22px; */
    
    /* margin: 15px; */
    /* padding-bottom: 20px; */
}

@media screen and (max-width:1200px) {
    .divContainer1{
        width: 50%;
    }
    .divContainer2{
        width: 50%;
    }  
}

@media screen and (max-width:900px) {
    .divContainer1{
        width: 100%;
    }
    .divContainer2{
        width: 100%;
    }
}
