.container{
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.divContainer1{
    /* border: 1px solid red; */
    width: 60%;
    height:auto;
    /* background: yellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

.graph{
    /* border: 1px solid blue; */
    width: 98%;
    height:auto;
    margin: 5px;
    box-sizing: border-box;
}

.cusTable{
    /* border: 1px solid blueviolet; */
    width: 98%;
    height:auto;
    margin: 5px;
    box-sizing: border-box;
}
/* .divContainer2{
    border: 1px solid black;
    width: 40%;
    height:auto;
    margin: 0px;
    box-sizing: border-box;
} */

.divContainer2{
    /* border: 1px solid black; */
    width: 40%;
    height:auto;
    /* background: greenyellow; */
    margin: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: fit-content;
    max-height: 66.4vh;
    
    /* margin-top: 22px; */
    
    /* margin: 15px; */
    /* padding-bottom: 20px; */
}

@media screen and (max-width:1200px) {
    .divContainer1{
        width: 50%;
    }
    .divContainer2{
        width: 50%;
    }  
    .divContainer3{
        width: 50%;
    }  
}

@media screen and (max-width:900px) {
    .divContainer1{
        width: 100%;
    }
    .divContainer2{
        width: 100%;
    }
    .divContainer3{
        width: 100%;
    } 
}

/* feedback */

.feedback{
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.full-boxer{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    /* border: 1px solid blue; */
    width: 500px;
    background:white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.profile-box{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.profile-img{
    /* border: 1px solid yellow; */
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-img img{
    /* border: 1px solid brown; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center ;
}

.name{
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.name strong{
    color:black;
    font-size:16px ;
    /* font-size: 18px; */
}

.name span{
    font-size:14px ;
    color: #5e5959;
    margin-top: 2px;
}

.comment p{
    color: black;

}

h2{
    text-transform: uppercase;
    margin: 10px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .search-box {
    width: 100%;
    margin: 8px;
  }

  #searchInput4{
    margin-left: 0px;
  }

  .search-icon button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
    padding: 1%;
    background-color: #fff;
    margin: 5px;
    border-style: hidden;

}