.container{
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.divContainer1{
    border: 1px solid red;
    width: 50%;
    height:auto;
    /* background: yellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

.divContainer2{
    border: 1px solid black;
    width: 50%;
    height:auto;
    /* background: greenyellow; */
    margin: 0px;
    box-sizing: border-box;
    /* font-size: 50px; */
}

@media screen and (max-width:1200px) {
    .divContainer1{
        width: 50%;
    }
    .divContainer2{
        width: 50%;
    }   
}

@media screen and (max-width:900px) {
    .divContainer1{
        width: 100%;
    }
    .divContainer2{
        width: 100%;
    }
}