
  .container{
    background-color:aliceblue;
    width: 100%;
    height: auto;
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.divContainer1{
    width: 39%;
    height:auto;
    /* background: yellow; */
    margin-top: 8%;
    box-sizing: border-box;
    /* font-size: 50px; */
}
.divContainer2{
  width: 60%;
  height:auto;
  /* background: greenyellow; */
  margin-left: 2px;
  box-sizing: border-box;
  /* font-size: 50px; */
  overflow-y: scroll;
  /* overflow-x: scroll; */
  height: fit-content;
  max-height: 66.4vh;
  
  /* margin-top: 22px; */
  
  /* margin: 15px; */
  /* padding-bottom: 20px; */
}

@media screen and (max-width:1200px) {
  .divContainer1{
      width: 50%;
  }
  .divContainer2{
      width: 50%;
  }  
}

@media screen and (max-width:900px) {
  .divContainer1{
      width: 100%;
  }
  .divContainer2{
      width: 100%;
  }
}