*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   /* color: #fff;  */
}
section {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    background: url(http://localhost/koratuwa/img/supplier/feedback_bg.jpg);
}
/* .bg-img{
    position: absolute;
    top: 44px;
    left: 0;
    height: 94%;
    width: 100%;
    background: url(http://localhost/koratuwa/img/supplier/feedback_bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(30%);
} */
.wrapper-left{
    /* display: inline-block; */
    min-height: 100hv;
    align-items: center;
    /* justify-content: center; */
    margin-left: 50px;
    border: solid green;
}
.wrapper-right{
    display: inline-block;
    border: solid green;
    width: 60%;
}
.container{
    border: solid black;
    position: relative;
    margin: 0 auto;
    display:flex;
    max-width:95%;
    max-height: 100%;
    text-align: -webkit-center;
}
form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    /* width: 360px; */
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    opacity: 0.6;
    background-color: #000;
}
form h1{
    color: white;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    color: #fff;
    transform: translateY(-50%);
}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
    color: black;
}
form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
}
form .postbtn{
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
form input:focus,
form textarea:focus{
    border: 1px solid #00fff0;
    /* color: #fff0; */
    color: #fff;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
}
form input:focus +i{
    transition: all 0.3s ease;
}

/*-------------------------------------------*/
.card{
    border: solid red;
    margin: 10px;
    width: 70%;
}
.img-user {
    object-fit: cover;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.card-head{
    display: flex;
    margin-bottom: 10px;
}
.sup_date{
    margin-left: auto;
}
.sup_name{
    padding-top: 10px;
    padding-left: 5px;
}
.sup_feedback{
    text-align: left;
}
/*---------------------------------------*/





/* feedback */

.feedback{
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.full-boxer{
    border: 1px solid rebeccapurple;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    border: 1px solid blue;
    width: 500px;
    background:white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.profile-box{
    border: 1px solid green;
    display: flex;
    align-items: center;
}

.profile-img{
    border: 1px solid yellow;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-img img{
    border: 1px solid brown;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center ;
}

.name{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.name strong{
    color:black;
    font-size:16px ;
    /* font-size: 18px; */
}

.name span{
    font-size:14px ;
    color: #5e5959;
    margin-top: 2px;
}

.comment p{
    color: black;

}