*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   /* color: #fff;  */
}
section {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}
/* .bg-img{
    position: absolute;
    top: 44px;
    left: 0;
    height: 94%;
    width: 100%;
    background: url(http://localhost/koratuwa/img/supplier/feedback_bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(30%);
} */
.wrapper{
    display: inline-block;
    min-height: 100hv;
    align-items: center;
    justify-content: center;
}
.container{
    border: solid black;
    position: relative;
    margin: 0 auto;
    padding: 0px 20px 0 20px;
    max-width: 1400px;
    text-align: -webkit-center;
}
form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    /* width: 360px; */
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    opacity: 0.6;
    background-color: #000;
}
form h1{
    color: white;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    color: #fff;
    transform: translateY(-50%);
}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
    color: black;
}
form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
}
form .postbtn{
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
form input:focus,
form textarea:focus{
    border: 1px solid #00fff0;
    /* color: #fff0; */
    color: #fff;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
}
form input:focus +i{
    transition: all 0.3s ease;
}

/*-------------------------------------------*/
.card{
    border: solid red;
    margin: 10px;
    width: 70%;
}
.img-user {
    object-fit: cover;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.card-head{
    display: flex;
}
.sup_date{
    margin-left: auto;
}
.sup_name{
    padding-top: 10px;
    padding-left: 5px;
}
/*---------------------------------------*/
