section {
    text-align: center;
}

.flash-msg {
  height: 10vh;
}
.container {
    position: relative;
    margin: 0 auto;
    margin-left: 180px;
    display: flex;
    padding: 20px 0px 20px 0px;
    max-width: 1200px;
    max-height: 1000px;
    
}
.feature1 form{
  margin-right: 12%;
}
.feature1 form .submitBtn{
  width: 50%;
  margin: 3% auto;
}

.feature1{
    padding: 4%;
    display: inline-block;
    width: 100%;
    margin-right: 12%;
    border: 1px solid black;
    border-radius: 15px;
    background-color:azure;
    box-shadow: 0px 2px 3px black;
    
}
.feature1 table{
  margin-top: 0vh;
}
.table-wrapper{
  overflow-y: scroll;
  height: fit-content;
  max-height: 66.4vh;
  
  margin-top: 22px;
  
  margin: 15px;
  padding-bottom: 20px;
}
/* .feature2{
    display: inline-block;
    margin: 40px;
    padding: 20px;
    
    
} */
.feature2 {
  display: block;
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .feature2 {
    display: inline-block;
    margin: 40px;
    padding: 20px;
  }
}

@media screen and (min-width: 992px) {
  .feature2 {
    margin: 60px;
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature2 {
    margin: 80px;
    padding: 40px;
  }
}



/*--------------------------------------------*/
.details{
    /* background-color: aliceblue; */
    background-image: url(http://localhost/koratuwa/img/supplier/viewsupply.jpg);
    background-size: cover;

}
/*----------fill_glass------------------------*/
.title{
    padding: 10px;
}
svg {
  width: 140px;
  fill: white;
  stroke: white;
  stroke-width: none;
  animation: slide 1s ease-out;
  filter: url(#goo);
  /* // hides a 1px render error in some browsers that
  // happens with transformed children inside an
  // overflow hidden parent. only a real issue
  // without the filter */
  box-shadow: 0 0 0 1px white inset;
}

@keyframes slide {
  from { left: 50vw; }
  to { left: 0; }
}

path.glass {
  stroke-width: 12;
  stroke: black;
  fill: none;
}

rect.glass {
  stroke: none;
  fill: black;
}
/*----------------------------------*/
/* label{
    position: absolute;
    bottom: 10px;
    border: solid red;
    color: green;
    z-index: 2;
    width: 600px;
    height: 300px;
} */
/*------------search bar--------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  margin: 25px auto 0px 0px;
  width: 50%;
  display: flex;
  border: solid black 1px;
  border-radius: 5px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  margin-top: 3px;
  margin-left: 20px;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  position: relative;
  top: 50%;
  left: 20%;
  width: 30%;
  transform: translate(-50%, -50%);
  /* border: solid pink; */
}
/*---------------table dropdown----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.table-dropdown {
  height: 1px;
  /* background-color: #23232b; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  /* border: solid pink; */
}

.dropdown-menu {
  display: grid;
  grid-template-rows: 40px max-content;
  gap: 10px;
}

.dropdown-toggle {
  all: unset;
  background-color: dodgerblue;
  color: white;
  width: 150px;
  padding: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-toggle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform: rotate(45deg);
  transition: 0.4s;
}

.list {
  z-index: 1;
  background-color: white;
  color: #444;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}

.list-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.4s, transform 0.4s var(--delay);
  transform: translateX(-100%);
  user-select: none;
  cursor: pointer;
}

.list-item:hover {
  background-color: dodgerblue;
  color: #fff;
}

.dropdown-toggle:focus::after {
  transform: rotate(225deg);
}

.dropdown-toggle:focus ~ .list {
  height: 160px;
}

.dropdown-toggle:focus ~ .list .list-item {
  transform: translateX(0);
}

/*-------------------------------Model------------------------------*/
/* The Modal (background) */
/* 
#viewModal {
    border: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
   */
  /* Modal Content */
  /* .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  } */
  
  /* Add Animation */
  /* @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
   */
  /* The Close Button */
  /* .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background: none;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  } */

  /* ---------conter---------- */
  .items {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.items:hover{
  background-color: #333347;
}

/*charts*/

.graphBox {
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin-left: 30%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
  min-height: 300px;
  /* border: solid red; */
}

.graphBox .box {
  position: relative;
  background: aliceblue;
  padding: 20px 10px 10px 10px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

/* view model */
.model {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-model {
  visibility: visible;
  display: flex;
}

.open-model .model {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.model.in .model-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.model-dialog {
  position: relative;
  max-height: 80vh;
}

.viewBtn {
  border: 0.25px solid rgb(11, 103, 223);
  border-radius: 4px;
  box-shadow: 0px 2px 3px #666666;
  color: white;
  padding: 2px 6px 2px 6px;
  background: #209af8;
}

.viewBtn:hover {
  border: 0.25px solid black;
  color: black;
  background: rgb(0, 200, 255);
  cursor: pointer;
}

.model-content {
  border-radius: 0;
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}


/* table buttons */

.table-btns i {
  font-size: 12px;
  padding: 2px;
  display: inline-block;
  display: flex;
}


/*update button*/

.updBtn {
  border: 0.25px solid rgb(60, 255, 0);
  border-radius: 4px;
  box-shadow: 0px 2px 3px #666666;
  color: white;
  padding: 2px 6px 2px 6px;
  background: #28c728;
}

.updBtn:hover {
  border: 0.25px solid black;
  color: black;
  background: #12fc0a;
  cursor: pointer;
}


/*delete button*/

.dltBtn {
  border: 0.25px solid white;
  border-radius: 4px;
  box-shadow: 0px 2px 3px #666666;
  color: white;
  padding: 2px 6.5px 2px 6.5px;
  background: rgb(250, 10, 10);
}

.dltBtn:hover {
  border: 0.25px solid black;
  color: #353935;
  background: red;
  cursor: pointer;
}



  /* for date filters */
  .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    align-items: center;
} 

  .filterBtn{
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #3498db;
    background-color: transparent;
    cursor: pointer;
 }

 /* table column filter */
select{
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#04AA6D;
  font-weight: 150;
  color: white;
  font-size: medium;
  
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #e21d1d;
  filter: alpha(opacity=20);
  opacity: .2;
}

.model-title {
  margin: 0;
  line-height: 1;
}
