* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 40%;
    background-color: white;
  }
  
  .right {
    width: 60%;
    background-color: #7dcee9;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .form-container{
    margin-top: 0;
  }