h2{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 2rem;
    color:#444;
    
    text-transform: uppercase;
    text-align: center; 
}

.filter{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    align-items: center;
    background: rgb(240, 240, 237);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

input[type=date] {
    
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 80%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    width: 30px;
    margin-right: 30px;
}

h1{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

.table1{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    background: rgb(240, 240, 237);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.table2{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    background: rgb(240, 240, 237);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
} 

table{
    margin: 5px;
}

.pdfBtn {
    display: block;
    width: 20%;
    height: 40px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #11f40a;
    /* background-image: linear-gradient(to right, #0A2558, #0e3276, #0A2558); */
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: 0.5s;
    margin-left: 60%;
    
}
a{
    text-decoration: none;
}
.pdfBtn:hover {
    /* background-position: right; */
    background-color: #00BFFF;
    color: white;
}

.submitBtn {
    display: block;
    width: 20%;
    height: 40px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #0A2558;
    /* background-image: linear-gradient(to right, #0A2558, #0e3276, #0A2558); */
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: 0.5s;
}

.submitBtn:hover {
    /* background-position: right; */
    background-color: #00BFFF;
    color: white;
}