* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;

  }
  
  .right {
    width: 50%;
    margin-top: 200px;
    background-color: WHITE;
    min-height: 700px;
  }
  
  .left {
    width: 50%;
    background-color: WHITE;
    min-height: 700px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

h2{

   /* margin-left: 50px; */
  margin-top: 10px;
  margin-bottom: 0px;
  position: absolute;
  font-size: 2rem;
  color:#444;
  
  text-transform: uppercase;
  text-align: center; 
  

}

/* table{
  
    margin-bottom: 10px; 
  margin-top: 70px; 

}
table th{
    background-color:#aaa;
}
td {
   background-color: white;
  
} */

/* .add-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
} */
 /*make it responsive design*/

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -275px;
    }
    .navigation.active {
        width: 275px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 275px;
    }
}

#searchInput2{
  margin-top:20px;
  margin-bottom: 10px;
}
