* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 50%;
    background-color: #bbb;
  }
  
  .right {
    width: 50%;
    background-color: WHITE;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

h2{

   margin-left: 50px;
  margin-top: 10px;
  position: absolute;
  font-size: 2rem;
  color:#444;
  
  text-transform: uppercase;
  text-align: center; 
  

}

table{
  margin-left: 50px;
    margin-bottom: 10px; 
  margin-top: 0px; 

}
table th{
    background-color:#aaa;
}
td {
   background-color: white;
  
}

/* .add-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
} */
 /*make it responsive design*/

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -275px;
    }
    .navigation.active {
        width: 275px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 275px;
    }
}


  /* .viewBtn {
    border-radius: 28px;
    box-shadow: 0px 2px 3px #666666;
    font-family: Arial;
    color: black;
    font-size: 15px;
    font: bold 20px;
    background: #28c728;
    padding: 10px 18px 10px 20px;
    text-decoration: none;
    border-color: #28c728;
    margin-left: 0px;
    margin-right: 120px;
    z-index: 1;
}

.viewBtn:hover {
    background: #12fc0a;
    text-decoration: none; 
    cursor: pointer;
}*/

.paddBtn {
    width: 130px;
    background: #04086B;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 550px;
    margin-top: 10px;
    margin-bottom: 0px; 
   
}

.paddBtn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}

