.addBtn {
    margin-top: -0px;
    margin-right: 15px;

}

td {
    text-align: center;
}

/* .add-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
} */
 /*make it responsive design*/

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -275px;
    }
    .navigation.active {
        width: 275px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 275px;
    }
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a,button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav input[type=text],button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }

  button:hover{
    cursor: pointer;
    background-color: aquamarine;
  }