.container {
  text-align: center;
  padding:0;
  /* margin-top: 30px; */

}

.split {
  float: left;
  height: 93vh;
}

.left {
  width: 50%;
  /* background-color: #bbb; */
}

.right {
  width: 50%;
  /* background-color: white; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.ongoing {
  /* background-color: #d27171; */
  /* padding: 10px; */
  /* margin: 10px; */
  /* border-radius: 10px; */
  /* border: 1px solid #e3e3e3; */
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
  height: 100%;
}


/*charts*/
.graphBox{
  position: relative;
  /* right: 0; */
  width: 100%;
  /* padding: 10px; */
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-gap: 20px;
  min-height: 300px;
}
.graphBox .box{
  position: relative;
  background: aliceblue;
  padding: 20px 0 0 0;
  width: 98%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}





/*make it responsive design*/
@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
  .navigation {
    left: -275px;
  }
  .navigation.active {
    width: 275px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 275px;
  }
  .cardBox {
    width: 33.3%;
    min-width: 0px;
  }
}

@media (max-width: 767px) {
  .cardBox {
    width: 100%;
  }
}