.container {
  /* text-align: center; */
  padding:0;
  margin-top: 30px;

}

.form-container {
  width: 95%;
}

.form-header h3{
  text-align: left;
}

.form-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  
} */

.form-input-wrapper {
  width: 100%;
}

.wrapper-1 {
  width: 100%;
}

.action {
  background-color: white;
  border: none;
}
.sub-table tr th {
  background-color: whitesmoke;
}

.topic {
  color: black;
}

/* RECEIPT */
/* .receipt {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 100mm;
  background: #FFF;
  margin-top: 2rem;
}

#top, #mid,#bot {
  border-bottom: 1px solid #EEE;
}

#top {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mid {
  min-height: 80px;
}

#bot{
  min-height: 50px;
}

#top .logo{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.img-logo{
  width: inherit;
  height: inherit;
}

h1 {
  font-size: 1.5em;
  color: #222;
}

h2 {
  font-size: .9em;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
  
p {
  font-size: .7em;
  color: #666;
  line-height: 1.2em;
}

.info {
  display: block;
  margin-left: 0;
}

.receipt-table {
  width: 85%;
  border-collapse: collapse;
  text-align: center;
}

.receipt-table th, td {
  padding: 5px;
  font-size: .5em;
  background: #fff;
  color: black;
  border: .5px solid #000;
}

.receipt-table td {
  background: #fff;
  color: black;
  border: .5px solid #000;
}
  
#legalcopy{
  margin-top: 5mm;
} */
.product-row{
  /* maximize front size */
  font-size: .7rem;
  font-weight: 400;
  /* center front in tr */
  text-align: center;
  
}
/* POPUP RECEIPT */
.model {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-model {
  visibility: visible;
  display: flex;
}

.open-model .model {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.model.in .model-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.model-dialog {
  position: relative;
  max-height: 80vh;
}

.model-content {
  border-radius: 0;
  position: relative;
  background-color: #fff;
  /* -webkit-background-clip: padding-box; */
  background-clip: padding-box;
  border: 1px solid #999;
  border-radius: 6px;
  outline: 0;
  /* -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%); */
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.model-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-color: #f4f4f4;
}

.model-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  border-top-color: #f4f4f4;
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #e21d1d;
  filter: alpha(opacity=20);
  opacity: .2;
}



/*make it responsive design*/
@media (max-width: 991px) {
  .navigation {
    left: -275px;
  }
  .navigation.active {
    width: 275px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 275px;
  }
}

@media (max-width: 767px) {
  .sub-table th {
    width: 0;
  }
  .sub-table th .topic {
    width: 100%;
  }
}





/*-------------------- notification styles----------------- */

.notifyBox{
  position: fixed;
  top: 3rem;
  right: 1rem;
  background-color:#287bff;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-end;
  color: hsl(0, 0%, 20%);
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  display: none;
  
}

.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-box:hover{
  margin-top: 12px;
}

.comment-box{
  border: 1px solid blue;
  width: 500px;
  background:white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
}

.name{
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.name strong{
  color:black;
  font-size:16px ;
  /* font-size: 18px; */
}

.name span{
  font-size:14px ;
  color: #5e5959;
  margin-top: 2px;
}

.comment p{
  color: black;

}
/* -----------------end notifications ------------------------ */

