.mytabs {
    display: flex;
    flex-wrap: wrap;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
    cursor: pointer;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/* ongoing button */
.ongoingBtn {
    background-color: rgb(93, 227, 184);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* delivered button */
.deliveredBtn {
    background-color: rgb(215, 31, 89);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}